.emoji-enabled,
.emoji-desabled,
.star {
  font-size: 2em !important;
}

.emoji-enabled {
  margin: 0 0.1em;
  opacity: 1;
  height: 1em;
  /* display: inline-block !important; */
}

.emoji-desabled {
  margin: 0 0.1em;
  opacity: 0.2;
  height: 1em;
  /* display: inline-block !important; */
}

.star {
  /* margin: 0 0.1em; */
  height: 1em;
  color: #ffc200;
}

.note-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
